"*":
  core:
    disabledPackages: [
      "metrics"
      "file-mode"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showLineNumbers: false
    softWrap: true
  "exception-reporting":
    userId: "fbfaa2c4-cd8a-3a13-5eb6-862e55d27126"
  "git-plus":
    commits:
      verboseCommits: true
  "go-plus": {}
  "highlight-line": {}
  welcome:
    showOnStartup: false
